.container{
    margin: 5%;
    padding: 0.1%;
    background-color: violet;
}
body{
    background-color: teal;
}
.button a{
    position: absolute;
    text-decoration: none;
    color: beige;
    font-weight: 900;
    font-family: helvetica;
    display: block;
    background-color: crimson;
    padding: 0.5%;   
}
.button a:hover{
    transition: 1s;
    transition-delay: 100ms;
    color: crimson;
    background-color: beige;
    letter-spacing: 1%;
    transform: rotateZ(360deg) rotateY(360deg) rotateX(360deg);
}